* {
    margin: 0;
    padding: 0;
}
.profile {
    position: fixed;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 10%;
    border: 1px solid #666;
    box-sizing: border-box;
}
.profile .lay {
    position: absolute;
    width: 90%;
    top: 0;
    left: 5%;
    bottom: 85%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.profile .list_menu {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}
.profile .friend{
    position: absolute;
    top: 40%;
    right: 20%;
    font-size: 20px;
    text-align: center;
    cursor: default;
}
.profile .profiles {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
    bottom: 0;
    overflow: scroll;
    /* border: 1px solid green; */
}
.profile .profiles::-webkit-scrollbar {
    display: none;
}
.profile .profiles .profile_picture {
    margin-bottom: 15%;
    margin-left: 5%;
    margin-top: 5%;
    cursor: pointer;
}
.profile .profiles .profile_picture .picture_max{
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.profile .profiles .profile_picture span{
    font-size: 40px;
    margin-left: 15%;
}
.header {
    position: fixed;
    height: 150px;
    left: 20%;
    right: 20%;
    border: 1px solid blue;
    box-sizing: border-box;
}
.header .picture {
    position: absolute;
    height: 100px;
    top: 20px;
    left: 3%;
    right: 3%;
    /* border: 1px solid purple; */
}
.header .picture span{
    position: absolute;
    font-size: 40px;
    top: 20px;
    margin-left: 5%;
    cursor: default;
}
.menu {
    position: fixed;
    width: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid blue;
    box-sizing: border-box;
}
.menu .menu-lay {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
    bottom: 1%;
    /* border: 1px solid red; */
    overflow: scroll;
}
.menu .menu-lay::-webkit-scrollbar {
    display: none;
}
.menu .menu-chat {
    
    width: 100%;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;  
    margin-bottom: 15%;
    background: plum;
    cursor: pointer;
}
.menu .menu-lay .picachu-max {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin-top: 3%;
    margin-left: 3%;
    float: left;
}
.menu .menu-lay .text {
    text-align: center;
    line-height: 50px;
}
.menu .menu-lay .text span {
    font-size: 25px;
}
.menu .menu-lay .text p {
    font-size: 30px;
}
.chat {
    position: fixed;
    width: 60%;
    top: 150px;
    left: 20%;
    right: 20%;
    bottom: 0%;
    overflow: hidden;
    /* border: 1px solid cyan; */
    box-sizing: border-box;
    background: rgb(186,184,184);
    background: linear-gradient(90deg, rgba(186,184,184,1) 50%, rgba(186,184,184,1) 50%);
}
.chat .textarea {
    position: fixed;
    bottom: 0;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 50px;
    z-index: 99;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 1%;
    font-weight: 400;
    font-size: 30px;
    color: #666;
}
.my {
    position: fixed;
    width: 20%;
    top: 90%;
    left: 0;
    bottom: 0;
    border: 1px solid #666;
    box-sizing: border-box;
}
.my .my_lay {
    position: fixed;
    width: 18%;
    top: 91%;
    left: 1%;
    bottom: 1%;
    /* border: 1px solid red; */
}
.my .my_lay span {
    font-size: 30px;
    margin-left: 10%;
}
.my .my_lay .profile-max {
    
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}