html, body {
    margin: 0;
    height: 100%;
}
.container {
    position: relative; 
    width: 100%;
    height: 100%;
    background: rgb(255,2,255);
    background: linear-gradient(90deg, rgba(255,2,255,1) 0%, rgba(176,40,230,1) 50%);
}
.container .box {
    position: absolute;
    width: 600px;
    /* height: 600px; */
    top: 50%;
    left: 50%;
    bottom: 50%;
    margin: -300px;    
    /* background: chartreuse; */
}
.container .box .title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}
.container .box .title h1 {
    font-family: 'Comfortaa', cursive;
}
.container .box .int {
    position: relative;
    /* padding-left: 25%; */
    width: 100%;
    margin-top: 20px;
}
.container .box .int:first-child {
    margin-top: 0;
}
.container .box .int input {
    width: 100%;
    padding: 25px 10px 10px;
    background-color: transparent;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; 
    color: #000;
    outline: none;
}
.container .box .int label {
    position: absolute;
    /* left: 150px; */
    top: 20px;
    font-size: 18px;
    color: black;
    transition: all .5s ease;
}

.container .box .int input:focus + label,
.container .box .int input:valid + label {
    top: -2px;
    font-size: 15px;
    color: blue;
}
.container .box .btn {
    margin-top: 50px;
    /* padding-left: 150px; */
}
.container .box .btn button {
    width: 100%;
    height: 50px;
    background-color: #166cea;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.container .box .check {
    margin-top: 50px;
    text-align: left;
    font-size: 18px;
}
.container .box .find {
    margin-top: 30px;
}
.container .box .find  {
    margin-left: 250px;
    width: 100px;
    /* height: 50px; */
    color: black;
    /* background: white; */
    cursor: pointer;
}
.container .box .find a{
    text-decoration: none;    
}
h2 {
    text-align: center;
    font-size: 18px;
    color: black;
}





































